<div class = "container">
    <br>
    <h2> Question: </h2>
    <table class="table table-striped">
      <tbody>
          <%= render partial: "shared/question_template", locals: {question: @question} %>      
      </tbody>
    </table>

    <%= form_for @answer, url: answers_question_path, :html => { class: 'answer' } do |f| %>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "What's on your answer?", class: "form-control" %>
        <%= f.hidden_field :question_id, value: @question.id %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary pull-right" %>          
      </div>
    <% end %>

  <div class="row col-md-8">
    <!-- 顯示與問題相關的回答 -->
    <h2> Answers: </h2>
    <% @pop_answers.each do |answer| %>
    <div>
      <h4><%= answer.user.name %></h4>
      <p><%= simple_format answer.content %></p>
      <div>upvotes: <%= answer.answer_upvotes.count %></div>
      <p class="text-muted">
        <em><%= time_ago_in_words(answer.created_at) + " ago - "   %> </em>

<!-- 下面if end間為註解 -->
<% if false %>
        <% if current_user.admin? %>
        <%= link_to "Delete", question_answer_path(@question, answer), method: :delete %>
        <% end %>
<% end %>
      </p>
    </div>
    <hr>
    <% end %>

    <div class="p-3 mb-2 bg-info text-white"><%= flash[:notice] %></div>
    <div class="p-3 mb-2 bg-danger text-white"><%= flash[:alert] %></div>
  </div>
</div>

