<div class = "container">
    <br>
    <table class="table table-striped">
      <tbody>
        <% @favorite_questions.each do |question| %>
          <div class="col-sm-6 col-md-4">
            <div class="user-item">          
              <div>name: <%= question.user.name %></div>
              <%= link_to question.subject, question_path(question), class: "text-primary" %>&nbsp
              <div>favorites: <%= question.favorites.count %></div>
              <div>upvotes: <%= question.question_upvotes.count %></div>
              <div>ansers: <%= question.answers.count %></div>
              <%= simple_format question.content.truncate(100) %></li>
              <em><%= time_ago_in_words(question.created_at) + " ago - "   %> </em>
              <hr>              
              <br>                
            </div>
          </div>
        <% end %>
      </tbody>
    </table>

</div>
