<div class="container">
  <div class="row">
  <div id="registration_form">
  <h2> Edit User Profile </h2>

   <%= form_for @user do |f| %>

      <div class="cd-sm-4">
        <div>
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="cd-sm-4">
        <div>
          <%= f.label :email, "e-mail" %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="cd-sm-4">
        <div>
         
          <%= f.label :company, "Company" %>
          <%= f.text_field :company, class: "form-control" %>
        </div>
      </div>

      <div class="cd-sm-4">
        <div>

          <%= f.label :title, "Title" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>

      <div class="cd-sm-4">
        <div>
          <%= f.label :website, "Web Site" %>
          <%= f.text_field :website, class: "form-control" %>
        </div>
      </div>

      <div class="cd-sm-4">
        <div>
          <%= f.label :twitter, "Twitter" %>
          <%= f.text_field :twitter, class: "form-control" %>
        </div>
      </div>


      <div class="cd-sm-4">
        <div>
           <%= f.label :github, "GitHub" %>
          <%= f.text_field :github, class: "form-control" %>
        </div>
      </div>
      <hr>
        <div>
        <%= link_to "Back", :back, class: "btn btn-default" %>
          <%= f.submit class: "actions btn btn-primary" %>
        </div> 
      </div>
   <% end %>
    </div>
  </div>
</div>